[Unit]
Description= Daily Service to Backup PalWorld Server and Update it
Before=palworld.service
After=network.target
# EXECPATH variable should be replaced by absolute path
[Service]
#User=steam
Type=oneshot
ExecStart=$EXECPATH/SaveAndUpdate.sh

Environment=PATH=/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin:/snap/bin:/home/steam;

StandardOutput=append:/var/log/palworld.log
StandardError=append:/var/log/palworld.log

[Install]
WantedBy=multi-user.target
