[Unit]
Description= Daily Service to Backup PalWorld Server and Update it
Before=palworld.service
After=network.target

[Service]
#User=steam
Type=oneshot
ExecStart=$HOME/$DATA_DIR/linux-steamcmd/SaveAndUpdate.sh

Environment=PATH=/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin:/snap/bin:/home/steam;

StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=palworld_update

[Install]
WantedBy=multi-user.target
