[Unit]
Description=Daily Service to Backup PalWorld Server and Update it at 4:00am
After=network.target

[Timer]
#Execute Job if it missed a run due to machine being off
Persistent=true
#Run 30 seconds after boot for the first time
OnBootSec=30
#Run every day at 4:00am
OnCalendar=*-*-* 04:00:00
#File describing job to execute
Unit=palworld_update.service

[Install]
WantedBy=timers.target
