[Unit]
Description=Backup, Update, and Restart PalWorld Server
Wants=palworld.service
After=palworld.service network.target
# This service will stop palworld.service, run update, then restart palworld.service
[Service]
Type=oneshot
RemainAfterExit=true
Environment=PATH=/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin:/snap/bin:/home/steam
StandardOutput=append:/var/log/palworld.log
StandardError=append:/var/log/palworld.log
ExecStart=/usr/bin/systemctl stop palworld.service
ExecStart=/home/steam/serverdata/repos/linux-steamcmd/SaveAndUpdate.sh
ExecStartPost=/usr/bin/systemctl start palworld.service
ExecStartPost=/bin/bash -c 'echo "palworld_update.service completed at $(date)" >> /var/log/palworld.log'

[Install]
WantedBy=multi-user.target
