[Unit]
Description=Steamcmd service to keep server running
After=steamcmd_server_update.service

[Service]
User=steam
Type=simple
Restart=always
RestartSec=120s
MemoryMax=22G
CPUWeight=9000
CPUQuota=95%
IOWeight=6000
#This should point to script or executable to run. The Example here is Executable.sh
ExecStart=$EXECPATH -useperfthreads -NoAsyncLoadingThread -UseMultithreadForDS

StandardOutput=append:/var/log/steamcmd_server.service.log
StandardError=append:/var/log/steamcmd_server.service.log

[Install]
WantedBy=multi-user.target
